html, body {
    min-width: 520px;
    height: 300px;
    overflow-y: scroll;
}
body {
    font-family: sans-serif;
    font-weight: 600;
    font-size: 16px;
    background-color: white;
    padding: 20px;
}
h1 {
    margin-bottom: 1.1em;
}
.birthday-item {
    margin: 15px 0;
    padding: 20px;
    border-radius: 15px;
    display: block;
    box-shadow: -1px 3px 10px #ddd;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
.birthday-date img {
    margin-left: 6px;
    height: 1em;
    width: 1em;
}
input, button {
    background-color: white;
    padding: 10px;
    border-radius: 5px;
}
button, input[type=submit] {
    border: 2px solid #00AA00;
    color: #00AA00;
}
input[type=text], input[type=date] {
    border: 1px solid #CCCCCC;
    width: 50%;
}
button:hover, input[type=submit]:hover {
    background-color: #EEFFEE;
}
.form-row {
    margin: 1em 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.form-row-right {
    display: flex;
    justify-content: flex-end;
    margin-top: 30px;
}
.delete-btn {
    margin-left: 20px;
}
.delete-btn:hover {
    border: 2px solid #BB3300;
    color: #BB3300;
    background-color: #FFEEEE;
}
.cancel-btn {
    border: 2px solid #808080;
    color: #808080;
    margin-left: 14px;
}
.cancel-btn:hover {
    background-color: #f0f0f0;
}
#errormessage {
    color: #cc0000;
}
